<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
</head>
<body>
    <form action="/save" method="post">  <!--웹서버(Controller)의 "/save" 경로로 폼을 제출 요청-->
        제목: <input type="text" name="boardTitle"><br>  <!--name 속성 : 서버에서 폼의 입력값을 식별할 때 사용-->
        작성자: <input type="text" name="boardWriter"><br>  <!--+ DTO의 필드명과 일치시켜줄 것 (일치할 경우 Controller에서 별도로 set하지 않고도 Spring MVC에서 자동으로 매핑해줌)-->
        비밀번호: <input type="password" name="boardPass"><br>
        내용: <textarea name="boardContents" cols="30" rows="10"></textarea>
        <button type="submit">제출</button>
    </form>
</body>
</html>